<div class="container">
    <div class="row">
        <div class="col-sm-8">
            
                <app-info></app-info>
        </div>
        <div class="col-sm-4">
            <app-contact></app-contact>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <!-- item -->
            
            <app-card-item></app-card-item>
        </div>
        <div class="col-sm-4">
            <!-- item -->
            <app-card-item></app-card-item>
        </div>
        <div class="col-sm-4">
            <!-- item -->
            <app-card-item></app-card-item>
        </div>
    </div>
</div>